# Dependências
node_modules/
package-lock.json

# Build
coverage/
dist/
build/

# Logs
logs/
*.log

# Banco de dados
*.db
*.sqlite
database/personality.db

# Documentação
docs/

# Git
.git/
.github/

# Arquivos de configuração
.env
.env.*

